build==1.4.4 # From 1.4.0 | Vulnerabilities: None
click==8.3.2 # From 8.3.1 | Vulnerabilities: None
genbadge[all]==1.1.3 # Vulnerabilities: None
hatchling==1.29.0 # From 1.28.0 | Vulnerabilities: None
httpx==0.28.1 # Vulnerabilities: None
hypothesis==6.161.2 # Vulnerabilities: None
mike==2.2.0 # From 2.1.3 | Vulnerabilities: None
mkdocs-material==9.7.6 # From 9.7.3 | Vulnerabilities: None
mkdocs-print-site-plugin==2.8 # Vulnerabilities: None
mkdocstrings[python,shell]==1.0.3 # Vulnerabilities: None
mypy==2.3.0 # Vulnerabilities: None
packaging==26.2 # Vulnerabilities: None
pre-commit==4.5.1 # Vulnerabilities: None
pytest==9.0.2 # Vulnerabilities: None
pytest-cov==7.1.0 # From 7.0.0 | Vulnerabilities: None
pytest-html==4.2.0 # Vulnerabilities: None
pytest-mock==3.15.1 # Vulnerabilities: None
pytest-xdist==3.8.0 # Vulnerabilities: None
ruamel.yaml==0.19.1 # Vulnerabilities: None
ruff==0.15.12 # From 0.15.4 | Vulnerabilities: None
toml==0.10.2 # Vulnerabilities: None
tomlkit==0.15.1 # Vulnerabilities: None
twine==7.0.0 # Vulnerabilities: None
types-toml==0.10.8.20260518 # Vulnerabilities: None
